/** @format */
.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  margin-bottom: 5%;
  margin: 5%;
  margin-top: 10%;
}

.inputName {
  width: 40%;
  margin-bottom: 1%;
}

.inputNameButton {
  width: 40%;
}
